[Unit]
Description=etcd key-value store
Documentation=https://github.com/etcd-io/etcd
After=network-online.target local-fs.target remote-fs.target time-sync.target
Wants=network-online.target local-fs.target remote-fs.target time-sync.target

[Service]
Type=notify
User=etcd
Environment=ETCD_UNSUPPORTED_ARCH=riscv64
Environment=ETCD_NAME=%H
Environment=ETCD_DATA_DIR=/var/lib/etcd
ExecStart=/usr/bin/etcd
Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target
